body{
    margin: 0px;
    padding: 0px;
    
}
.left{
   
    display: inline-block;
    position: absolute;
  
    top: -15px;
   
}



.center{
   
    display: block;
    width: 44%;
    padding: 4px 0px;
    

    
    margin: 16px auto;
    box-sizing: border-box;
    font-family: 'Anton', sans-serif;
    

}
.right{
   
  
    

   
}

.navbar li{
    display: inline-block;
    list-style-type: none;
    font-size: 25px;
}

.navbar li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    
    padding: 0px 10px;
}
.navbar li a:hover, .navbar li a.active{
    text-decoration: underline;
    font-size: 24px;
    color: rgb(24, 92, 155);
}

.left img{
    width: 27%;
    position: relative;
    top: 10px;

}

.right a img{
   
   float: right;
   position: relative;
   width: 61px;
    bottom: 86px;
    right: 60px;
    
}

.header{
    background-color: #3fff00de;
    border-radius: 10px;
}

/* <!-- form here things which start from below navbar  --> */
#belownavbar{
    
    

}
.slide1{
    border-radius: 10px;
   
    width: 910px;
    display: inline-block;
    height: 500px;
    padding: 0px 0px;
    margin: 0px 0px;
    
   
}
.slide1 img{
    width: 910px;
    height: 500px;
}
.slide2{
    
    margin: 0px 0px;
    padding: 0px 0px;
    width: 700px;
    float: right;
    height: 500px;
    position: relative;
    background-color: ivory;
    background-repeat: none;
    background-size: 700px 500px;
    
    
}


.slide3{
    
    margin: 0px 0px;
    padding: 0px 0px;
    width: 560px;
   float: left;
    height: 500px;
    background-color: red;
}
.slide3 img{
    width: 560px;
    height: 500px;
}
.slide4{
   
    margin: 0px 0px;
    padding: 0px 0px;
    width: 700px;
    display: inline-block;
    height: 500px;
    margin-left: 4px;
    background-color: skyblue;
}
.slide4 img{
    width: 700px;
    height: 500px;}

.slide5{
    border: 2px solid yellow;
    margin: 0px 0px;
    padding: 0px 0px;
    width: 400px;
    float: right;
    height: 500px;
    position: relative;
    right: 10px;
    background-color: springgreen;
}
.slide5 img{
    width: 400px;
    height: 500px;}

    .slide2 h1{
        font-family: 'Montserrat', sans-serif;
        font-size: 75px;
        line-height: 80px;
        margin-bottom: 0;
        text-transform: lowercase;
        color: #0f0f0f;
        font-weight: 700;
        letter-spacing: -3px;
    }

    .slide2 h3{
        color: grey;

    }
    .slide2 p{
        font-family: 'Squada One', cursive;
        padding: 31px 19px;
        font-size: 20px;

    }



